body {
  font-family:"Trebuchet MS", Segoe, sans-serif;
  margin:40px;
  font-size: 1.2em;
}
div:first-child {
  margin-bottom: 20px;
}
button {
  padding: 10px;
}
#box {
  width: 200px;
  height: 38px;
  margin-left: 20px;
}

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  50% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.arrow {
  border-color:transparent;
  border-style:solid;
  border-width:0 2em;
  display:block;
  height:0;
  margin: 1px; 
  opacity:0.9;
  text-indent:-9999px;
  transform-origin: 10%;
  width: 1px;;
}
.up {
  -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
  border-bottom:2em solid #00b6f1;
}
.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:2em solid #00b6f1;
}
